body {
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(0, 84, 103, 0.85),
      rgba(0, 61, 75, 0.85)
    ),
    url("image3.jpg");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  font-family: 'Segoe UI', sans-serif;
}


#titleText{
    text-align: center;
    font-family: 'Tahoma', Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bold;
  
    color: rgb(0, 87, 87);

}
header, footer {
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.aboutSection{
    margin-top: 20px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    color: rgb(254, 254, 210);
    margin: 30px auto;
  max-width: 900px;
  padding: 25px;

  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 10px;

  font-size: 18px;
  line-height: 1.6;
}

#inputForm{
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(254, 254, 210);
    margin: 40px auto;
  max-width: 800px;
  padding: 30px;

  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 12px;

  font-size: 18px;
}
input, select {
  padding: 6px;
  border-radius: 5px;
  border: none;
}

header{
    text-align: center;
    background-color:rgb(254, 254, 210);
  padding: 10px;
}
footer {
    color:rgb(254, 254, 210);
  background-color: rgb(54, 54, 54);
  text-align: center;
  padding: 8px;
}
ul.topnav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
}

/* Style links in topnav */
ul.topnav li a {
  display: block;
  color: rgb(254, 254, 210);
  padding: 14px 16px;
  text-decoration: none;
}
ul.topnav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
}

/* Style links in topnav */
ul.topnav li a {
  display: block;
  color: #f1f1f1;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
ul.topnav li a:hover {
  background-color: rgb(254, 254, 210);
  color: rgb(0, 87, 87);
}

